<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <!-- Link CSS -->
        <link href="style.css" rel="stylesheet" />

        <!-- Chart.js -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <title>Weight Tracker</title>
    </head>
    <body>
        <header>T R A K R</header>
        <main>
            <div>
                <canvas id="myChart"></canvas>
            </div>
            <button>LOG WEIGHT</button>
        </main>
        <form action="/" method="POST">
            <section>
                <label for="calendar">Calendar</label>
                <input
                    type="date"
                    id="calendar"
                    name="calendar"
                    value="2023-03-29"
                />
            </section>
            <section>
                <label for="weight">Weight (kg)</label>
                <input
                    type="number"
                    id="weight"
                    step="0.01"
                    name="weight"
                    min="0"
                    required
                />
            </section>
            <button class="submit">Submit</button>
        </form>
        <!-- Link JS -->
        <script src="script.js"></script>
    </body>
</html>
